In [1]:
import pandas as pd
import sqlite3

# Sample data
data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [25, 30, 22, 35, 28]
}

df = pd.DataFrame(data)

In [2]:
df

   id     name  age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
3   4    David   35
4   5      Eva   28

In [3]:
# 1. CSV
df.to_csv('data.csv', index=False)

# 2. JSON
df.to_json('data.json', orient='records', lines=True)

# 3. Excel
df.to_excel('data.xlsx', index=False)

# 4. SQL Table (SQLite)
conn = sqlite3.connect('data.db')
df.to_sql('data_table', conn, if_exists='replace', index=False)

# 5. Parquet
df.to_parquet('data.parquet', index=False)

# 6. HTML Table
df.to_html('data.html', index=False)

# 7. TSV
df.to_csv('data.tsv', sep='\t', index=False)

# 8. TXT (as plain delimited text)
df.to_csv('data.txt', sep='|', index=False)

# 9. Fixed-width (FWF)
df.to_string('data_fixedwidth.txt', index=False)

# 10. OpenDocument Spreadsheet (.ods)
# Requires: pip install odfpy
df.to_excel('data.ods', engine='odf', index=False)

# 11. XML
df.to_xml('data.xml', index=False)

# 12. Pickle
df.to_pickle('data.pkl')

# 13. Feather
# Requires: pip install pyarrow or feather-format
df.to_feather('data.feather')

# 14. ORC
# Requires: pip install pyarrow
df.to_orc('data.orc', index=False)

# 15. SAS (Not directly supported for write, only read)
# You can use third-party libraries like `pyreadstat` to export to .sas7bdat

# 16. SPSS (.sav)
# Requires: pip install pyreadstat
import pyreadstat
pyreadstat.write_sav(df, 'data.sav')

# 17. SQL Query (read back from SQL)
df_from_query = pd.read_sql_query("SELECT * FROM data_table", conn)

# 18. SQL Table (already done above)

# 19. Clipboard (copies to clipboard)
df.to_clipboard(index=False)

# 20. Google Sheets (requires gspread and credentials)
# Google Sheets export requires OAuth setup or using public URL via CSV:
# For a public sheet (shared with "Anyone with link"):
# df.to_csv('https://docs.google.com/spreadsheets/d/your_sheet_id/export?format=csv')

# OR using gspread (manual auth required):
# import gspread
# from gspread_dataframe import set_with_dataframe
# gc = gspread.service_account(filename='your_credentials.json')
# sh = gc.open('Your Spreadsheet Name')
# worksheet = sh.get_worksheet(0)
# set_with_dataframe(worksheet, df)

ModuleNotFoundError: No module named 'odf'

In [ ]:
<span style="color:orange">filepath_or_buffer</span>

In [6]:
df.to_orc('data.orc', index=False)

In [8]:
df.to_feather('data.feather')

In [10]:
df.to_pickle('data.pkl')

In [12]:
df.to_xml('data.xml', index=False)

In [14]:
import os
print(os.path.exists('data.xml'))  # Should print True

True

In [38]:
import pandas as pd
import random
import numpy as np

# Sample data pools
names = ['John', 'Alice', 'Bob', 'Diana', 'Steve', 'Karen', 'Mike', 'Linda', 'Tom', 'Emma']
departments = ['HR', 'Finance', 'Engineering', 'Sales', 'Marketing', 'IT']

# Generate the dataset
data = {
    'name': [random.choice(names) for _ in range(100)],
    'age': [random.randint(22, 60) for _ in range(100)],
    'salary': [random.randint(30000, 120000) for _ in range(100)],
    'department': [random.choice(departments) for _ in range(100)]
}

In [44]:
df1 = pd.DataFrame(data)
print(df)

     name  age  salary   department
0   Karen   53   48402        Sales
1   Karen   36   50229           HR
2     Tom   57   75397    Marketing
3     Bob   32  118127    Marketing
4    John   59   96237           IT
..    ...  ...     ...          ...
95  Karen   59   55519           IT
96    Bob   26   74830    Marketing
97   John   59   40323           IT
98  Diana   42   53692  Engineering
99  Linda   30   62561           IT

[100 rows x 4 columns]

In [46]:
df1.to_csv('AnalysisData.csv', index=False)